<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <form method="GET">
            <h1>Recenze</h1>
            <label for="login">Uživatel: </label>
            <input type="text" id="login" name="login" placeholder="Jméno">

            <label for="recenze">Recenze: </label>
            <input type="text" id="recenze" name="recenze" placeholder="Napiš recenzi" />

            <a href="{{ url_for('form') }}"><button>poslat recenzi</button></a>

            <p>Recenze uživatele {{ login }} je {{ recenze }} </p> 
            <!-- Místo tří teček by se mělo doplnit recenzi, kterou odeslal uživatel ve formuláři -->
    </body>
</html>
